.inner{
     background-color: black;
    height: 80%;
    width: 100%;
    background-clip: padding-box;
    color: white;

}

.fundo {
    background-color: white;
    height: 80%;
    padding: 5%;
    box-sizing: border-box;
    background-size: cover;
    text-align: justify;



}